div.item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: auto;
}
.img img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 0px 20px 0px;
    width: 100%;
    /* height: auto; */